@font-face {
  font-family: 'Vintage Glamour';
  src: url(../fonts/DdrVLkm7mELk24mTc6Esgg.woff2) format('woff2'),
       url("https://assets.checkoutchamp.com/Funnel/assets/images/8220b4b5-6dd7-4d64-8c84-fd3b523eb2f7/46bac284-bb6f-4ec2-8069-e75bef280a67/DdrVLkm7mELk24mTc6Esgg.woff?time=1724421610) format('woff'");
  font-weight: 400;
  font-style: regular;
}

